





body {	
	
	background-color: #0F1011;
}







#intro img {
	width:320px;
	border-radius: 15px;

}

#intro h2 {
	font-family: montserrat;
	color: #BCB3A9;
	font-size: 32px;
	
}

#subtext_intro {
	color: #797570 ;
	font-size: 20px;
	font-weight: lighter;
	opacity: 0.8;
}

#socials {
	text-decoration: none;
	font-size: 30px;
	color: white;
	list-style: none;
}

#socials a {
	color: white;
}

#socials a:hover {
	color: #BCB3A9;

}

.button {
	color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: normal;
  background: #4193BF;
  text-decoration: none;
  font-family: open sans;

}

.button:hover {
	background: #316F8E;
}


