/* imported components */
@import url("components/button.css");
@import url("components/navbar.css");
@import url("components/social-list.css");



body {	
	
	background-color: #0F1011;
}







#intro img {
	width:320px;
	border-radius: 15px;

}

#intro img:hover {
	opacity: 0.8;
}

#intro h2 {
	font-family: montserrat;
	color: #BCB3A9;
	font-size: 32px;
	
}

#subtext_intro {
	color: #797570 ;
	font-size: 20px;
	font-weight: lighter;
	opacity: 0.8;
}

#socials {
	text-decoration: none;
	font-size: 30px;
	color: white;
	list-style: none;
	padding:  10px 15px;
	
}

#socials a {
	color: white;
}

#socials a:hover {
	color: #BCB3A9;

}

#social li {
	margin: 5px;
}




