.button {
	color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: normal;
  background: #4193BF;
  text-decoration: none;
  font-family: open sans;

}

.button:hover {
	background: #316F8E;
}