.button {
	color: #EAEBEA;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: normal;
  background: #A04331;
  text-decoration: none;
  font-family: open sans;

}

.button:hover {
	background: #7C362A;
    text-decoration: none;
    color: white;
}

