ul.nav {
  padding-left: 0px;
  background-color: #4193BF;
  text-align: center;
}
ul.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.nav > li:hover {
  background-color: #316F8E;
}
ul.nav > li > a {
  color: white;
  text-decoration: none;
   font-family: open sans;

}